/*/@font-face{
    font-family: 'SEGA LOGO FONT'; 
    font-style: normal; 
    font-weight: normal; 
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff'); 
}



h1
{
    font-family: 'SEGA LOGO FONT'
}


 NOT APPLYING OR USING THIS FONT SINCE THE STYING PACKAGE HASN'T BEEN DOWNLOADED YET AS SUGGESTED IN THE VIDEO*/ 
